@import 'variables';

.danger {
	color: red;
}

:is(#chat-popout, #chat-log, #chat-results) :is(.message, .chat-message) {
	margin: 0;
	border-radius: 0 !important;
	color: $color-text;
	padding: 0 5px 5px 8px;
	border-top-width: 2px !important;
	border-top-color: $top-border-normal !important;
	border-left: 0px !important;
	background-color: $background-normal;

	display: flex;
	flex-direction: row;
	justify-content: flex-start;

	.right-content {
		.avatar {
			display: none !important;
		}

		flex: 1;
		padding: 1px 0 1px 10px;
		min-width: 0;
		color: #404040;

		.message-timestamp {
			font-size: 0.8em;
			color: #666;
			margin-bottom: 4px;
			display: block;
		}

		.message-metadata,
		.message-header {
			display: none;
		}

		.message-originator {
			font-weight: bold;
		}

		.message-content:not(.down) {
			display: inline;
		}

		.message-flavor {
			font-size: 0.85em;
			font-style: italic;
			color: #666;
			margin: 4px 0;
		}
	}

	.left-avatar {
		img {
			width: 28px;
			height: 28px;
			box-shadow: none;

			text-indent: 100%;
			white-space: nowrap;
			overflow: hidden;

			object-fit: cover;
			object-position: top;
			border: none;
		}

		flex: none !important;
	}

	* {
		user-select: text !important;
		-moz-user-select: text;
		-webkit-user-select: text;
	}

	&.leading {
		padding-top: 4px;
	}

	.dice-roll {
		h4 {
			font-family: Helvetica, sans-serif;
			font-size: 18px;
		}
	}

	&::before {
		background: none !important;
		border-radius: 0 !important;
		content: unset;
	}

	&.me:not(.cgmp-desc, .whisper, .emote) {
		background-color: $background-me;
		border-color: $top-border-me !important;
	}

	&.roll {
		flex-wrap: wrap;

		.message-content {
			flex-basis: auto;
			width: 100%;

			.chat-card {
				border: none;

				.card-header {
					border-top: none;
				}
			}

			.red-full {
				margin: 2px;
				padding: 5px;
				border-radius: 5px;
				border: 1px solid $roll-template-border;
				background-color: $roll-template-background;
			}
		}
	}

	&.whisper {
		background-color: $background-whisper;
		border-color: $top-border-whisper !important;

		.message-whisper-targets {
			font-weight: normal;
		}
	}

	&.emote {
		background-color: $background-emote;
		border: none;
		border-top: 2px solid $top-border-emote !important;
		padding-bottom: 0;
		padding-top: 0;

		.message-header,
		.message-originator,
		.message-speaker,
		.message-timestamp {
			display: none !important;
		}

		.left-avatar {
			padding-top: 4px;
		}

		.right-content {
			display: flex;
			justify-content: center;
			align-items: center;
			line-height: 1.15rem;

			.message-content {
				font-style: italic;
				font-weight: bold;
				text-align: center;
				color: $color-emote;
				padding: 4px 0;
			}
		}
	}

	.message-header {
		.message-sender {
			gap: 0.4rem;
		}

		.avatar img {
			width: 28px;
			height: 28px;
			box-shadow: none;

			text-indent: 100%;
			white-space: nowrap;
			overflow: hidden;

			object-fit: cover;
			object-position: top;
			border: none;
		}

		.name-stacked {
			min-height: 24px;

			.title {
				font-weight: 600;
				font-family: Helvetica, sans-serif;
				font-size: initial;
			}
		}

		.message-metadata {
			.chat-control {
				display: inline-block;
				position: relative;
				z-index: 1;
				padding: 2em;
				margin: -2em;
			}
		}
	}

	&.continued {
		.message-header,
		.message-originator,
		.message-timestamp {
			display: none !important;
		}

		.left-avatar {
			visibility: hidden;
			height: 1px;
		}

		border-top: 0px !important;
	}

	&.cgmp-desc {
		border-color: #c5c5c5 !important;
	}

	&.cgmp-as .message-header :is(.message-portrait, .avatar) {
		display: block !important;
	}

	.card-header {
		display: flex;
		flex-direction: column;
		gap: 0.25rem;

		&.description.check {
			.summary {
				display: flex;
				align-items: center;
				gap: 0.5rem;

				> img {
					border: none;
					width: 32px;
					height: 32px;
				}

				.title {
					font-family: 'Modesto Condensed', 'Palatino Linotype', serif;
					font-size: 18px;
					font-weight: 700;
				}
			}
		}

		.summary {
			img.gold-icon {
				border: none !important;
				border-radius: 2px;
				box-shadow: none !important;
			}
		}
	}

	.dnd5e2.chat-card {
		.description {
			padding: 0px !important;
			border: 0px !important;
			border-radius: 0 !important;
			background: none !important;
			overflow: visible;

			.wrapper {
				padding-top: 2px;
			}

			header.summary {
				border-bottom: 2px groove #fff;
				padding-bottom: 4px;
			}

			.details {
				font-size: 12px;
			}
		}

		.evaluation {
			border: none;

			.target {
				background: none;

				.title {
					font-size: 13px;
					font-family: unset;
					font-weight: normal;
				}
			}
		}

		.midi-results {
			:is(.midi-qol-attack-roll, .midi-qol-damage-roll) div:first-child {
				font-size: 13px !important;
			}

			.midi-qol-attack-roll.has-attack,
			.midi-qol-damage-roll.has-damage,
			.midi-qol-midi-qol-other-damage-roll.has-damage,
			.midi-qol-midi-qol-bonus-damage-roll.has-damage,
			.midi-qol-saves-display.has-save {
				margin-bottom: 7px;
			}

			.midi-qol-saves-display:not(.has-save) {
				display: none;
			}

			.midi-qol-saves-display {
				> div:first-child {
					> div:first-child {
						padding: 0.4rem 0.125rem;
						font-weight: normal;
						background: #d5deee;
						border-radius: 3px;
					}

					> div:nth-child(2) {
						display: none;
					}
				}

				.midi-qol-tooltip:hover .midi-qol-tooltiptext,
				.midi-qol-tooltip .midi-qol-tooltiptext {
					visibility: unset;
				}

				.midi-qol-save-tooltip {
					background-color: unset;

					.dice-roll {
						&:not(.expanded) {
							opacity: 0;
						}

						background-color: var(--dnd5e-color-card);
						padding: 3px;
						border-radius: 3px;
						box-shadow: 0 0 2px #fff inset;
						border: 1px solid var(--color-border-light-2);
					}
				}

				.midi-qol-save-class .midi-qol-save-total {
					font-size: 14px;
				}
			}
		}

		.card-footer {
			border-top: 2px groove #fff;
			padding-top: 8px;

			&.pills {
				.pill {
					background-color: rgba(0, 0, 0, 0.05);
					text-transform: none;
					font-weight: normal;
					color: #363636;
					font-size: 10px;
				}
			}
		}
	}

	&.roll-card {
		flex-wrap: wrap;

		.message-content {
			margin: 2px;
			padding: 5px;
			border: 1px solid var(--dnd5e-color-gold);
			border-radius: 3px;
			background: var(--dnd5e-color-card);
			overflow: visible;

			:not(.midi-results) .dice-result .dice-total {
				margin-top: 0.25rem;
			}

			.dice-roll:not(.expanded) .dice-formula {
				display: none;
			}
		}

		.message-flavor {
			display: none;
		}
	}

	&:is(.roll-card, .roll) .message-content {
		&.down {
			flex-basis: auto;
			width: 100%;
		}

		.dice-roll {
			.dice-total,
			.dice-formula {
				background: rgba(0, 0, 0, 0.08);
			}

			.dice-formula {
				transition: all 250ms ease;
				margin-top: 0.25rem;
			}

			.dice-result {
				margin-bottom: 0;

				.dice-tooltip .dice .dice-rolls .constant {
					margin-top: 0.05rem;
				}

				.dice-totals {
					display: flex;
					flex-direction: row;

					.dice-total {
						margin-top: 0.1rem;

						&::before,
						&::after {
							content: unset;
						}

						.base-dice {
							background-image: url(../../../icons/svg/d20-grey.svg);
							width: 22px;
							line-height: 22px;
							background-size: 22px;
							background-repeat: no-repeat;
							float: left;
							font-weight: bold;
							font-size: 12px;
							text-align: center;
							opacity: 0.95;
							position: absolute;
							top: 50%;
							right: 5px;
							transform: translate(0, -50%);
						}

						&.fumble {
							color: #aa0200;
							background: #ffdddd;
							border: 1px solid #6e0000;

							.base-dice {
								filter: sepia(0.5) hue-rotate(-60deg);
								color: #aa0200;
							}

							.icons {
								display: none;
							}
						}

						&.crit {
							color: #257f11;
							background: #c7d0c0;
							border: 1px solid #006c00;

							.base-dice {
								filter: sepia(0.5) hue-rotate(60deg);
								color: #257f11;
							}

							.icons {
								display: none;
							}
						}

						&.discarded {
							opacity: 0.4;
							border: 1px solid #888888;
						}
					}
				}

				.tooltip-part {
					&:hover {
						.damage-buttons {
							display: flex;
						}
					}

					.damage-buttons {
						display: none;
						justify-content: space-between;
						padding: 2px;
						gap: 2px;

						button {
							width: 30px;
							height: 22px;
							font-size: var(--font-size-12);
							line-height: 22px;
							padding: 0;
							gap: 2px;
							flex: 1;

							> i {
								margin: 0;
							}

							&.heal {
								color: #257f11;
							}

							&.temp {
								color: #277dff;
							}

							.fa-solid.fa-xmark {
								color: rgb(140, 140, 140);
								font-size: 10px;
							}
						}

						div {
							height: 22px;
							font-size: var(--font-size-14);
							line-height: 18px;
							padding: 0;
							color: var(--color-text-light-4);
							margin-left: 3px;
						}
					}
				}
			}
		}
	}
}

:is(#chat-popout, #chat-log, #chat-results) {
	:is(.message, .chat-message):hover {
		box-shadow: inset 0 0 4px #9a9893;
	}

	#logsearch {
		:is(.message, .chat-message):hover {
			box-shadow: none !important;
		}
	}
}

#preview-delete-dialog {
	.dialog-prompt {
		margin-top: 5px;
	}

	.preview-delete {
		margin: 10px 0 5px 0 !important;
		max-height: 500px;
		overflow: auto;

		#context-menu {
			display: none;
		}
	}
}
