$background-whisper: #f2f5d3;
$background-normal: #f1f1f1;
$background-emote: rgb(245, 228, 211);
$background-me: #d3e5ff;

$top-border-whisper: #f0f092;
$top-border-normal: #e1e1e1;
$top-border-emote: rgb(240, 195, 146);
$top-border-me: #b1d9fa;

$color-timestamp: rgb(102, 102, 102);
$color-whisper-targets: rgb(78, 78, 78);
$color-emote: rgb(101, 62, 16);
$color-text: rgb(64, 64, 64);
$color-white-text: #ececec;

$roll-template-border: #aaa;
$roll-template-background: #f8f8f8;

$avatar-width: 28px;

$background-combatant-active: rgba(227, 38, 54, 0.5);
$background-combatant: rgba(0, 0, 0, 0.25);
$color-combatant-active: #eee;
